
$primary-color-100: #001719;
$primary-color-90: #00262a;
$primary-color-80: #00363b;
$primary-color-70: #008390;
$primary-color-60: #0093a1;
$primary-color-50: #00a2b2;
$primary-color: #00B2C3;
$primary-color-30: #00c2d4;
$primary-color-20: #00d1e5;
$primary-color-10: #00e1f6;
$primary-color-00: #08e9ff;


$secondary-color-light: #1ca5ff;
$secondary-color: #006DB5;
$secondary-color-dark: #003a60;

$primary-gradient: linear-gradient(133deg, rgba(0,178,195,1) 0%, rgba(0,109,181,1) 100%);



